<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>servletReqAndResp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RequestLineServlet</display-name>
    <servlet-name>RequestLineServlet</servlet-name>
    <servlet-class>com.javaee.request.RequestLineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestLineServlet</servlet-name>
    <url-pattern>/RequestLineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestHeadersServlet</display-name>
    <servlet-name>RequestHeadersServlet</servlet-name>
    <servlet-class>com.javaee.request.RequestHeadersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestHeadersServlet</servlet-name>
    <url-pattern>/RequestHeadersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestParamsServlet</display-name>
    <servlet-name>RequestParamsServlet</servlet-name>
    <servlet-class>com.javaee.request.RequestParamsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestParamsServlet</servlet-name>
    <url-pattern>/RequestParamsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestForwardServlet</display-name>
    <servlet-name>RequestForwardServlet</servlet-name>
    <servlet-class>com.javaee.request.RequestForwardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestForwardServlet</servlet-name>
    <url-pattern>/RequestForwardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResultServlet</display-name>
    <servlet-name>ResultServlet</servlet-name>
    <servlet-class>com.javaee.request.ResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultServlet</servlet-name>
    <url-pattern>/ResultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChineseServlet</display-name>
    <servlet-name>ChineseServlet</servlet-name>
    <servlet-class>com.javaee.response.ChineseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChineseServlet</servlet-name>
    <url-pattern>/ChineseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.javaee.response.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParamsServlet</display-name>
    <servlet-name>ParamsServlet</servlet-name>
    <servlet-class>com.javaee.response.ParamsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParamsServlet</servlet-name>
    <url-pattern>/ParamsServlet</url-pattern>
  </servlet-mapping>
</web-app>