<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>j2017051107_29_javaeeMVCAllSchemaJDBC</display-name>
  <servlet>
    <servlet-name>GetNewsByIdController</servlet-name>
    <servlet-class>com.controller.GetNewsByIdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNewsByIdController</servlet-name>
    <url-pattern>/GetNewsByIdController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAllNewsController</servlet-name>
    <servlet-class>com.controller.GetAllNewsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllNewsController</servlet-name>
    <url-pattern>/GetAllNewsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetProductTypeByIdController</servlet-name>
    <servlet-class>com.controller.GetProductTypeByIdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProductTypeByIdController</servlet-name>
    <url-pattern>/GetProductTypeByIdController</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GetAllProductType</servlet-name>
  	<servlet-class>com.controller.GetAllProductType</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetAllProductType</servlet-name>
  	<url-pattern>/GetAllProductType</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>