<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>j2017051107_26_javaeeMVCDemo01</display-name>
  <servlet>
    <servlet-name>GetUserByIdController</servlet-name>
    <servlet-class>com.controller.GetUserByIdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserByIdController</servlet-name>
    <url-pattern>/GetUserByIdController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetUserByNameController</servlet-name>
    <servlet-class>com.controller.GetUserByNameController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserByNameController</servlet-name>
    <url-pattern>/GetUserByNameController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertUserController</servlet-name>
    <servlet-class>com.controller.InsertUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertUserController</servlet-name>
    <url-pattern>/InsertUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeUserController</servlet-name>
    <servlet-class>com.controller.ChangeUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeUserController</servlet-name>
    <url-pattern>/ChangeUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoadUserToChangeController</servlet-name>
    <servlet-class>com.controller.LoadUserToChangeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadUserToChangeController</servlet-name>
    <url-pattern>/LoadUserToChangeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetUserByPageController</servlet-name>
    <servlet-class>com.controller.GetUserByPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserByPageController</servlet-name>
    <url-pattern>/GetUserByPageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserLoadToDelete</servlet-name>
    <servlet-class>com.controller.UserLoadToDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoadToDelete</servlet-name>
    <url-pattern>/UserLoadToDelete</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>DeleteUser</servlet-name>
  	<servlet-class>com.controller.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DeleteUser</servlet-name>
  	<url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>