<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>j2017051107_16_javaeeServerObject</display-name>
  <servlet>
    <servlet-name>PrivateSum</servlet-name>
    <servlet-class>com.servlet.PrivateSum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrivateSum</servlet-name>
    <url-pattern>/private</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>PublicSum</servlet-name>
  	<servlet-class>com.servlet.PublicSum</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PublicSum</servlet-name>
  	<url-pattern>/public</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>