<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>j2017051107_18_javaeeServletShopCart</display-name>
  <servlet>
    <servlet-name>ShowProductServlet</servlet-name>
    <servlet-class>com.shoppingCart.ShowProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowProductServlet</servlet-name>
    <url-pattern>/showProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShoppingServlet</servlet-name>
    <servlet-class>com.shoppingCart.ShoppingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingServlet</servlet-name>
    <url-pattern>/shoppingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ShowCartServlet</servlet-name>
  	<servlet-class>com.shoppingCart.ShowCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ShowCartServlet</servlet-name>
  	<url-pattern>/showCartServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>